body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

div {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



form {
    margin-bottom: 20px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
}

table td {
    width: 50%;
}

input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
}



.input-container {
    display: flex;
    gap: 10px; /* Adjust as needed */
}

.title {
    font-size: 20px; /* Adjust as needed */
}

.large-textarea {
    width: 100%;
    height: 200px;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}

.alert {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}