<!DOCTYPE html>
<html>
<head>
    <h1 class="title">Idioms CRUD</h1>    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>



<body>
    

      <!-- Display current idiom -->
      <div>
        <h2>{{ idiom.phrase }}</h2>
        <p>{{ idiom.context }}</p>
        <a href="{{ url_for('edit_idiom', id=idiom.id) }}">Edit</a>
    </div>

    <div class="button-container">
        <a href="{{ url_for('previous_idiom') }}">Previous</a>
        <a href="{{ url_for('next_idiom') }}">Next</a>
    </div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}


    <!-- Form to search idioms -->
    <form action="{{ url_for('search_idiom') }}" method="get">
        <input type="text" name="query" placeholder="Search idioms...">
        <input type="submit" value="Search">
    </form>

    <!-- Display all idioms -->
    {% for idiom in idioms %}
        <div>
            <h2>{{ idiom.phrase }}</h2>
            {% if idiom.context is iterable and idiom.context is not string %}
                <ul>
                {% for context in idiom.context %}
                    <li>{{ context }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ idiom.context }}</p>
            {% endif %}
            <!-- Update and Delete links -->
<form action="{{ url_for('update_idiom', id=idiom.id) }}" method="post">
    <div class="input-container">
        <input type="text" name="phrase" value="{{ idiom.phrase }}" placeholder="Update idiom phrase">
        <textarea name="context" placeholder="Update idiom context">{{ idiom.context }}</textarea>
    </div>
    <input type="submit" value="Update">
</form>


            <a href="{{ url_for('delete_idiom', id=idiom.id) }}">Delete</a>
        </div>
    {% endfor %}

<!-- Form to add a new idiom -->
<form method="POST" action="{{ url_for('add_idiom') }}">
    <table>
        <tr>
            <td>
                <input type="text" name="phrase" placeholder="Enter idiom phrase" required>
            </td>
            <td>
                <textarea name="context" placeholder="Enter idiom context" required></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Idiom">
</form>

    <!-- Form to import idioms from a JSON file -->
    <form action="{{ url_for('import_json') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Import JSON">
    </form>

    <script>
        document.getElementById('update-form').addEventListener('submit', function() {
            alert('Idiom updated successfully!');
            console.log('Idiom updated');
        });
    </script>


</body>
</html>